img{
    max-width: 100%;
    border-radius: $border-radius-small;
}
.img-raised{
    box-shadow: $box-shadow-raised;
}
.background-svg {
    background: url("../../images/background.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}